## Question 1 (Easy)

**Title:** Print 1 to 10

### Problem Statement:
Print numbers from 1 to 10 using a for loop.

### Approach:
Use `range(1, 11)` inside a `for` loop and print each value.

In [2]:
# write your code here
for i in range (1,11):
   print(i)

1
2
3
4
5
6
7
8
9
10

## Question 2 (Easy)

**Title:** Sum of First N Numbers

### Problem Statement:
Take an integer N as input and find the sum of numbers from 1 to N.

### Approach:
Initialize sum = 0, loop from 1 to N, add each value to sum.

In [4]:
# write your code here
n=int(input("Enter the number :"))
sum=0
for i in range(1,n+1):
 sum += i
print(sum)

Enter the number :5
15

## Question 3 (Easy)

**Title:** Even Numbers from 1 to 50

### Problem Statement:
Print all even numbers between 1 and 50.

### Approach:
Loop from 1 to 50 and check `i % 2 == 0`.

In [8]:
# write your code here
for i in range(1,50):
  if i%2==0:
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

## Question 4 (Easy)

**Title:** Count Multiples of 3

### Problem Statement:
Take N as input and count how many numbers between 1 and N are divisible by 3.

### Approach:
Use a counter variable and increment when `i % 3 == 0`.

In [11]:
# write your code here
n= int(input("Enter the number:"))
count=0
for i in range(1,n+1):
  if i%3==0:
    count +=1
print(count)

Enter the number:15
5

## Question 5 (Easy)

**Title:** Multiplication Table

### Problem Statement:
Take a number as input and print its multiplication table from 1 to 10.

### Approach:
Loop from 1 to 10 and multiply with the input number.

In [14]:
# write your code here
n=int(input("Enter the number :"))
for i in range(1,11):
    print(f" {n}*{i}={n*i}")

Enter the number :6
 6*1=6
 6*2=12
 6*3=18
 6*4=24
 6*5=30
 6*6=36
 6*7=42
 6*8=48
 6*9=54
 6*10=60

## Question 6 (Easy)

**Title:** Factorial of a Number

### Problem Statement:
Take a number N as input and find its factorial.

### Approach:
Initialize fact = 1 and multiply values from 1 to N.

In [15]:
# write your code here
n= int(input("Enter the number : "))
factorial = 1
for  i in range(1,n+1):
  factorial *= i
print(factorial)

Enter the number : 5
120

## Question 7 (Easy)

**Title:** Running Sum

### Problem Statement:
Take N as input and print the running sum from 1 to N.

### Approach:
Use a sum variable and update it in each iteration.

In [16]:
# write your code here
n= int(input("Enter the number :"))
sum=0
for i in range(1,n+1):
   sum += i
   print(sum)

Enter the number :6
1
3
6
10
15
21

## Question 8 (Easy)

**Title:** Add 5 to Each Number

### Problem Statement:
Take N as input and add 5 to each number from 1 to N and print the result.

### Approach:
Loop from 1 to N and use shorthand `value += 5`.

In [17]:
# write your code here
n= int(input("enter the number :"))
for i in range(1,n+1):
  print(i+5)

enter the number :5
6
7
8
9
10

## Question 9 (Easy)

**Title:** Count Even and Odd Numbers

### Problem Statement:
Take N as input and count how many even and odd numbers are there between 1 and N.

### Approach:
Use two counters and check with modulo operator.

In [19]:
# write your code here
n = int(input("enter the number :"))
even= 0
odd= 0
for i in range(1,n+1):
  if i%2==0:
    even +=1
  else:
    odd +=1
print(f"count of even number is {even} and count of odd number is {odd}")

enter the number :30
count of even number is 15 and count of odd number is 15

## Question 10 (Easy)

**Title:** Squares from 1 to N

### Problem Statement:
Take N as input and print the square of each number from 1 to N.

### Approach:
Use `i * i` inside the loop.

In [20]:
# write your code here
n= int(input("Enter the number :"))
for i in range(1,n+1):
 print(i*i)

Enter the number :4
1
4
9
16

## Question 11 (Medium)

**Title:** Sum of Even and Odd Separately

### Problem Statement:
Take N as input and find the sum of all even numbers and all odd numbers between 1 and N.

### Approach:
Use two sum variables and check each number with modulo.

In [21]:
# write your code here

n= int(input("Enter the number :"))
sum_even=0
sum_odd=0
for i in range(1,n+1):
   if i%2==0:
     sum_even += i
   else:
    sum_odd +=i
print(f"sum for even number is {sum_even} and sum of odd number is {sum_odd}")

Enter the number :15
sum for even number is 56 and sum of odd number is64

## Question 12 (Medium)

**Title:** Divisible by 3 and 5

### Problem Statement:
Take N as input and count how many numbers between 1 and N are divisible by both 3 and 5.

### Approach:
Use logical AND condition inside the loop.

In [22]:
# write your code here
n= int(input("enter the number :"))
count=0
for i in range(1,n+1):
   if i%3==0 and i%5==0:
      count +=1
print(count)

enter the number :30
2

## Question 13 (Medium)

**Title:** Skip Multiples of 4

### Problem Statement:
Take N as input and print numbers from 1 to N but skip multiples of 4.

### Approach:
Use `continue` when the number is divisible by 4.

In [24]:
# write your code here
n= int(input("enter the number :"))
for i in range(1,n+1):
   if i%4==0:
     continue
   else:
      print(i)

enter the number :20
1
2
3
5
6
7
9
10
11
13
14
15
17
18
19

## Question 14 (Medium)

**Title:** Find the Largest Number

### Problem Statement:
Take N as input and find the largest number between 1 and N using a loop.

### Approach:
Assume the first value as largest and update using `if`.

In [28]:
# write your code here
n=int(input("Enter the number :"))
first_num=1
for i in range(1,n+1):
  if first_num>i:
    print(first_num)
print(i)

Enter the number :6
6

## Question 15 (Medium)

**Title:** Power of a Number

### Problem Statement:
Take two numbers `a` and `b` as input and calculate `a` raised to the power `b` using a for loop.

### Approach:
Initialize result = 1 and multiply it `b` times.

In [26]:
# write your code here
a=int(input("enter the number :"))
b=int(input("enter the number :"))
for i in range(1,a+1):
   print(i**b)

enter the number :4
enter the number :2
1
4
9
16

## Question 16 (Hard)

**Title:** Check Prime Number

### Problem Statement:
Take a number as input and check whether it is prime or not.

### Approach:
Loop from 2 to N-1 and use `break` if divisible.

In [3]:
# write your code here
n=int(input("Enter the number :"))
for i in range(2,n-1):
  if n%i==0:
    print("not prime ")
    break
  else:
    print("prime")
    break

Enter the number :13
prime

## Question 17 (Hard)

**Title:** Prime Numbers Between 1 and N

### Problem Statement:
Take N as input and print all prime numbers between 1 and N.

### Approach:
Use nested loops and a flag variable for prime checking.

In [11]:
# write your code here

n = int(input("Enter the number: "))

for num in range(2, n + 1):
    is_prime = True
    for i in range(2, num):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
     print(num, end=" ")

Enter the number: 12
2 3 5 7 11

## Question 18 (Hard)

**Title:** First Number Divisible by 7 and 11

### Problem Statement:
Take N as input and find the first number between 1 and N that is divisible by both 7 and 11. Stop after finding it.

### Approach:
Use logical AND and stop the loop using `break`.

In [16]:
# write your code here
n= int(input("Enter the number :"))
for i in range(1,n+1):
 if i%7==0 and i%11==0:
   print(i)
   break

Enter the number :12

## Question 19 (Hard)

**Title:** Number Pattern

### Problem Statement:
Take N as input and print a right-angled number pattern using nested loops.

Example:
1
12
123

### Approach:
Use an outer loop for rows and an inner loop for printing numbers.

In [26]:
# write your code here
n= int(input("Enter the number :"))
for i in range(1,n+1):
  for j in range(1,i+1):
   print(j, end="")
  print("")

Enter the number :7
1
12
123
1234
12345
123456
1234567