# Python Variables Practice (Assignment 1)

**Topics Covered:**
- Variable creation
- int, float, str, bool data types
- Printing variables
- f-strings

## Section 1: Variable Creation & Printing

### Question 1
Create a variable to store your **age** and print it.

In [1]:
age = input()
print(age)

45
45

### Question 2
Create a variable to store the **price of a notebook** (can be a decimal value) and print it.

In [2]:
price_of_notebooks = 23.4
print(price_of_notebooks)

23.4

### Question 3
Create a variable to store your **first name** and print it.

In [ ]:
first_name= "shivom"
print(first_name)

### Question 4
Create a variable to store whether you have **completed todayâ€™s class** (True/False) and print it.

In [ ]:
completed_todays_class = True
print(completed_todays_class)

### Question 5
Create two variables:
- one to store the **number of classes attended**
- one to store the **average rating** (float)
Print both.

In [4]:
number_of_classes_attended= 23
avrage_rating =9.12
print(number_of_classes_attended,avrage_rating)

23 9.12

## Section 2: Printing using f-strings

### Question 6
Create variables for **name** and **age** and print:
> My name is Rahul and I am 22 years old.

In [5]:
name= "shivom"
age = 22
print(f"My name is {name} and I am {age}years old ")

My name is shivom and I am 22years old


### Question 7
Create variables for **item name** and **price** and print:
> The price of Pen is 10.5 rupees.

In [6]:
item_name ="pen"
price = 12.3
print(f"The price of {item_name} is {price} rupees")

The price of pen is 12.3 rupees

### Question 8
Create variables for **batch name** and **class completed status** and print:
> Batch DA10 class completed status is True.

In [9]:
batch_name= "DA10"
class_status = True
print(f"Batch {batch_name} class  completed status is {class_status}")

Batch DA10 class  completed status is True