# Python Operators Practice Notebook

Each question is followed by its solution in the next code cell.
Difficulty level: Easy to Medium.

## Arithmetic Operators

Q1. Add two numbers a = 10 and b = 5.

In [1]:
# write your answer here
a=10
b=5
print(a+b)

15

Q2. Find the remainder when 17 is divided by 4.

In [3]:
# write your answer here
a=17
b=4
print(a%b)

1

Q3. Calculate 3 raised to the power 4.

In [4]:
# write your answer here
a=3
b=4
print(a**b)

81

## Assignment Operators

Q4. Assign 10 to x and add 5 to it using assignment operator.

In [5]:
# write your answer here
x=10
x +=5
print(x)

15

Q5. Assign 20 to y and multiply it by 2 using assignment operator.

In [6]:
# write your answer here
y=20
y *= 2
print(y)

40

Q6. Assign 15 to z and subtract 7 using assignment operator.

In [7]:
# write your answer here
z=15
z -= 7
print(z)

8

## Comparison Operators

Q7. Check if 10 is greater than 5.

In [8]:
# write your answer here
x= 10
if x > 5:
  print("10 is greater than 5")
else:
    print("10 is less then 5")

10is greater than 5

Q8. Check if 7 is equal to 9.

In [10]:
# write your answer here
x=7
if x==9:
  print(" 7 is equal to 9")
else:
  print("7 is not equle to 9")

7 is not equle to 9

Q9. Check if 8 is not equal to 3.

In [12]:
# write your answer here
x=8
if x!=3:
 print("8 is not eual to 3")

8 is not eual to 3

## Logical Operators

Q10. Check if 5 > 2 and 10 > 3.

In [13]:
# write your answer here
if 5>2 and 10>3:
  print("  5  is greater than  2 and 10 is greater than 3")

  5  is greater than  2 and 10 is greater than 3

Q11. Check if 5 > 10 or 3 < 7.

In [21]:
# write your answer here
if 5>10 or 3<7:
 print("5 is not greater than 10 or 3 is less than 7")

5 is not greater than 10 or 3 is less than 7

Q12. Use not operator on condition 10 > 5.

In [26]:
# write your answer here
if not 10>5:
  print("10 is not greater than 5")
else :
  print("10 is greater than 5")

10 is greater than 5

## Identity Operators

Q16. Check if a and b refer to the same object.
Let a = 10, b = 10.

In [29]:
# write your answer here
a= 10
b= 10
if a is b:
  print("a and b is same object")
else:
  print(" a and b is not same object")

a and b is same object

Q18. Compare identity of two variables c and d where c = d = 5.

In [30]:
# write your answer here
c=d=5
if c is d:
  print("c and d is same object")

c and d is same object

## Membership Operators

Q19. Check if 3 is present in the list [1,2,3,4].

In [38]:
# write your answer here
list=[1,2,3,4]
if 3 in list:
  print("3 is present in the list")
else:
   print("3 is not present in the list ")

3 is present in the list

Q20. Check if 'a' is not present in the string 'python'.

In [39]:
# write your answer here
tuple =(5,10,15)
if 10 in tuple:
  print("10 is in the tuple")
else:
  print("10 is not in the tuple")

10 is in the tuple