#  Python Sets â€“ Practice Questions

### Q1
Create a set from the list below and print only the unique values.

```python
data = [10, 20, 20, 30, 40, 40]
```

In [1]:
# write your code here
data = [10, 20, 20, 30, 40, 40]
s=set(data)
print(s)

{40, 10, 20, 30}

### Q2
What will be the output? Explain why.

```python
s = {1, 2, 3, 3, 2}
print(s)
```

In [ ]:
# write your code here
the output will be {1,2,3}
becouse set will not allow duplicate values

### Q3
Create an empty set and add numbers from 1 to 5 using a loop.

In [14]:
# write your code here
s = set()

for i in range(1, 6):
    s.add(i)

print(s)

{1, 2, 3, 4, 5}

### Q4
Why does this code give an error? Fix it.

```python
s = {}
s.add(10)
```

In [15]:
# write your code here
s = set()
s.add(10)
print(s)

{10}

### Q5
Given:
```python
A = {2, 4, 6, 8}
B = {4, 8, 12}
```
Find Union, Intersection, A-B

In [16]:
# write your code here
A = {2, 4, 6, 8}
B = {4, 8, 12}

print(A | B)
print(A & B)
print(A - B)

{2, 4, 6, 8, 12}
{8, 4}
{2, 6}

### Q6
Check whether 15 exists in the set {5, 10, 15, 20}.

In [18]:
# write your code here

if 15 in {5, 10, 15, 20}:
  print("exists")
else:
  print("not exists")

exists

### Q7
Remove element 30 safely from {10, 20, 30, 40}.

In [19]:
# write your code here
s= {10, 20, 30, 40}
s.discard(30)
print(s)

{40, 10, 20}

### Q8
Count unique elements in:
```python
nums = [1, 2, 2, 3, 4, 4, 5]
```

In [20]:
# write your code here
nums = [1, 2, 2, 3, 4, 4, 5]
s=set(nums)
print(len(s))

5

### Q9
What will be the output?
```python
s = {10, 20, 30}
s.add(20)
print(len(s))
```

In [ ]:
# write your code here
the output will be 3
becouse set will not allow duplicate values

### Q10
Can a set contain a list? Why?
```python
s = {1, 2, [3, 4]}
```

yes set can contain a list .

### Q11
Convert {100, 200, 300} into list and print first element.

In [ ]:
# write your code here

set1={100, 200, 300}

print(set1)

l1=list(set1)


l1[0]

{200, 100, 300}

200

### Q12
Students in two classes:   #union
```python
class_A = {'Aman','Riya','Karan','Neha'}
class_B = {'Neha','Simran','Aman'}
```

In [21]:
# write your code here
class_A = {'Aman','Riya','Karan','Neha'}
class_B = {'Neha','Simran','Aman'}
print(class_A | class_B)

{'Neha', 'Riya', 'Karan', 'Simran', 'Aman'}

### Q13
Find unique characters in:
```python
text = 'programming'
```

In [22]:
# write your code here
text = 'programming'
s=set(text)
print(s)

{'m', 'a', 'p', 'g', 'o', 'i', 'r', 'n'}

### Q14
Remove duplicate words from:
```python
sentence = 'python is easy and python is powerful'
```

In [23]:
# write your code here
sentence = 'python is easy and python is powerful'
s=set(sentence.split())
print(s)


# first use split

# and then use set to remove duplicate

{'and', 'powerful', 'is', 'python', 'easy'}

### Q15
What is the output?
```python
s = set('hello')
print(s)
```

In [ ]:
# write your code here
{'e', 'h', 'l', 'o'}