# Python Practice: Tuple and Set (Practice Only)

This notebook contains **practice questions only** on **Tuples** and **Sets**.

Instructions:
- Questions are written in **text cells**
- Write your solution in the **code cell below each question**
- Do NOT use any advanced concepts

##  Tuple Practice Questions

### Question 1
Create a tuple of 5 integers and print it.

In [1]:
# write your answer here
t=(1,2,3,4,5)
print(t)

(1, 2, 3, 4, 5)

### Question 2
Create a tuple with different data types (int, float, string, boolean) and print each element separately.

In [2]:
# write your answer here
t=(1,2.3,"shivom",True)
print(t)

(1, 2.3, 'shivom', True)

### Question 3
Find the length of a tuple containing names of 4 students.

In [3]:
# write your answer here
f=("shivom","aman","anand","dhruv","priya")
print(len(f))

5

### Question 4
Access and print the last element of a tuple.

In [4]:
# write your answer here
f=("shivom","aman","anand","dhruv","priya")
print(f[-1])

priya

### Question 5
Check whether an element exists in a tuple or not.

In [7]:
# write your answer here
f=("shivom","aman","anand","dhruv","priya")
print("shivom" in f)
print("pryanshu" in f)

True
False

### Question 6
Convert a tuple into a list.

In [8]:
# write your answer here
f=("shivom","aman","anand","dhruv","priya")
y=list(f)
print(y)

['shivom', 'aman', 'anand', 'dhruv', 'priya']

### Question 7
Convert a list into a tuple.

In [9]:
# write your answer here
f=["shivom","aman","anand","dhruv","priya"]
y=tuple(f)
print(y)

('shivom', 'aman', 'anand', 'dhruv', 'priya')

### Question 8
Create a tuple with repeated values and count how many times an element appears.

In [10]:
# write your answer here
f=("shivom","aman","anand","dhruv","priya","shivom")
print(f.count("shivom"))

2

### Question 9
Find the index of an element in a tuple.

In [11]:
# write your answer here
f=("shivom","aman","anand","dhruv","priya")
print(f.index("aman"))

1

### Question 10
Demonstrate that tuples are immutable (cannot be changed).

In [12]:
# write your answer here
f=("shivom","aman","anand","dhruv","priya")
f.append("shivm")

AttributeError: 'tuple' object has no attribute 'append'